:root {
  --main-green-color: #74b084;  
  --main-grey-color: lightgrey;
  --form-background-color: #f5f0f0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

header {
  margin: 2vw 5vw 1.5vw 5vw;
  padding-bottom: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--main-grey-color);
}

.home-container{
  margin: auto;
  display: flex;
  align-items: center;
}

.day-grid {
  width: 10.0vw;
  display: grid;
  grid-template-columns: repeat(1fr);
  margin: 0;
  padding: 0;
}

.week-grid-container {
  margin-left: 5vw;
  display: flex;
  width: 90%;
  /* gap: 0.5vw;
  padding: 0.25vw; */
}

.week-grid {
  margin: auto;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(1fr);
  gap: 0;
  /* padding: 0.25vw; */
}

.time-slot {
  cursor: pointer;
  height: 10vh;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid silver;
}

.time-slot p {
  margin: 2px;
}

.scheduling-form--container {
  background-color: #f5f0f0;
  border-radius: 5px;
  box-shadow: 1px 1px gray;
  margin: auto;
  z-index: 1;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.admin-form--container {
  position: fixed;
  overflow-y: scroll;
  height: 80%;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, 0);
}

.scheduling-form--main-content {
  padding: 0vw 2vw 1vw 2vw;
}

/* .scheduling-form-container form {
  margin: 2vw;
} */

.profile-container {
  display: flex;
  align-items: center;
  font-size: 15px;
}

.profile-container img {
  height: 6vh;
  margin-right: 1vw;
}

.main-btns-container {
  display: flex;
  align-items: center;
  margin: 3vw auto;
  height: 30vw;
  text-align: center;
/*   position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 50%;
}

button {
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 1.5px 1px gray;
  width: 10vw;
  min-width: fit-content;
  max-height: 10vh;
  padding: 1vw 2vw 1vw 2vw;
  margin: 1vw;
	border: none;
	background-color: var(--main-green-color);
	font-size: 2.8vh;
  text-transform: uppercase;
  transition: 0.5s;
}

.calendar-btn {
  width: 25vw;
}

.scheduling-form--button {
  width: auto;
  background-color: var(--main-grey-color);
  border: 1px solid black;
}

.date-title {
  text-align: center;
  text-transform: uppercase;
}

.login-btn {
  /* width: auto; */
  background-color: var(--main-grey-color);
}

/* TODO: Arruma depois */
.sidenav {
  text-align: center;
  position: fixed;
  overflow-y: scroll;
  background-color: white;
  box-shadow: 1px 1px gray;
  height: 30vw;
  width: 25vw;
  left: 0;
  bottom: 0;
/*   left: -22%;
  top: 20%;
  bottom: 50%;
  transform: translate(-50%, 0); */
  border: 1px solid var(--main-grey-color);
}

.loading-container {
  margin: auto;
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.context-menu {
  padding: 0vw 0.3vw 0.3vw 0.3vw;
  border-radius: 5px;
  box-shadow: 1px 1px gray;
  position: fixed;
  background-color: #f5f0f0;
  border-radius: 5px;
  box-shadow: 1px 1px gray;
  margin: auto;
  z-index: 1;
}

@media (max-width: 580px) {
  h1 {
    font-size: 6vw;
    text-align: center;
  }

  /*Invertido aqui por algum motivo bizarro*/
  header {
    flex-direction: column;
  }

  .week-grid-container {
    flex-direction: column;
  }
  
  .ri-arrow-left-s-line{
    display: none;
  }

  .ri-arrow-right-s-line{
    display: none;
  }

  .week-grid {
    width: 100%;
  }

  .home-container {
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
  }

  .sidenav {
    position: relative;
    width: 100%;
    height: fit-content;
    overflow-y: auto;
  }

  .main-btns-container {
    margin-top: 7vh;
    margin-bottom: 7vh;
    position: relative;
  }

  .admin-form--container, .scheduling-form--container {
    width: 100%;
    bottom: 0;
    height: fit-content;
  }

  .day-grid {
    width: auto;
  }
}